.item__list {
  width: 95%;
  margin: 80px auto 0;
}

@media (min-width: 768px) {
  .item__list {
    margin: 120px auto 0;
  }
}

.item__list__area {
  display: flex;
  flex-wrap: wrap;
}

.item__list__box {
  width: 47%;
  margin: 20px 1.5% 0;
}

@media (min-width: 768px) {
  .item__list__box {
    width: 22%;
    margin: 30px 1.5%;
  }
}

.item__list__name--en {
  font-size: .9rem;
  margin: 10px 0 0;
}

.item__list__name--ja {
  margin: 5px 0 0;
}

.item__list__txt {
  margin: 10px 0 0;
}

.item__list__detail {
  width: 100%;
  display: block;
  text-align: center;
  margin: 10px auto 0;
  padding: 10px 0;
  background: #333;
  color: #fff;
}

@media (min-width: 768px) {
  .item__list__detail {
    width: 90%;
  }
}

.item__list__cart {
  width: 100%;
  display: block;
  text-align: center;
  margin: 10px auto 0;
  padding: 10px 0;
  background: #333;
  color: #fff;
}

@media (min-width: 768px) {
  .item__list__cart {
    width: 90%;
  }
}

.openModal:hover {
  opacity: .7;
  cursor: pointer;
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalArea .modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.4);
}

.modalArea .modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 10px 20px;
  background-color: #fff;
  max-height: 90%;
  overflow: auto;
}

@media (max-width: 768px) {
  .modalArea .modalWrapper {
    width: 90%;
    max-height: 90%;
    height: 50vh;
  }
}

.modalArea .modalWrapper .modalContents {
  text-align: center;
}

.modalArea .modalWrapper .closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.item__detail {
  margin: 20px 0;
}

@media (min-width: 768px) {
  .item__detail {
    margin: 40px 0;
  }
}

.item__detail__tab__item {
  font-size: 1rem;
  padding: 3px 10px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.item__detail__tab__list {
  display: flex;
}

@media (min-width: 768px) {
  .item__detail__tab__list {
    justify-content: center;
  }
}

.item__detail__tab__content {
  font-size: .8rem;
  border-top: none;
  margin: 15px 0 0;
}

.item__detail__tab__txt {
  display: none;
}

.item__detail__tab__item.is-active {
  border-bottom: 1px solid;
}

.item__detail__tab__txt.is-show {
  display: block;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
