body {
  margin: 0 0 60px;
}

@media (min-width: 768px) {
  body {
    margin: 0;
  }
}

.item {
  width: 90%;
  margin: 80px auto 0;
}

@media (min-width: 768px) {
  .item {
    margin: 120px auto 0;
  }
}

.item__info {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .item__info {
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) {
  .item__name__area {
    width: 50%;
    padding: 0 0 0 10%;
  }
}

.item__name--en {
  font-size: 1.1rem;
}

.item__name--ja {
  font-size: 0.9rem;
}

.item__price__area {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.item__price__area--fix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  position: fixed;
  bottom: 0;
  background: burlywood;
  z-index: 1;
  margin: 0 -5%;
  height: 60px;
  width: 100%;
  padding: 0 5%;
}

.item__price {
  padding: 10px 20px;
  background: #333;
  color: #fff;
}

.item__price__txt {
  font-size: calc(1.1rem + ((1vw - 16px) * 1.1));
}

.item__img__area {
  margin: 20px 0 0;
}

@media (min-width: 768px) {
  .item__img__area {
    width: 50%;
    margin: 0;
  }
}

.item__detail {
  margin: 20px 0;
}

.item__detail__tab__item {
  font-size: 1rem;
  padding: 3px 10px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.item__detail__tab__list {
  display: flex;
}

.item__detail__tab__content {
  font-size: .8rem;
  border-top: none;
  margin: 15px 0 0;
}

.item__detail__tab__txt {
  display: none;
}

.item__detail__tab__item.is-active {
  border-bottom: 1px solid;
}

.item__detail__tab__txt.is-show {
  display: block;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
